@CHARSET "UTF-8";

/* CONVENCIONES --------------------------------------------------------------------*/
/*
	- Ordenamos estilos por página.
	- Dentro de cada página, ordenamos por aparición en el html.
	- En caso de elementos dentro de otros, primero el principal, luego los contenidos. 
	- Dentro de cada estilo seguimos el siguiente orden:
		+ position (relative, absolute; top, bottom...)
		+ height y width
		+ margins, paddings, display, border
		+ propiedades de texto (fuente, alineación y color)
		+ propiedades de background
*/


@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0')
		format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
		url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
		url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
		url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ARCENA';
	src: url('fonts/ARCENA.TTF');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",
		Helvetica, "BBAlpha Sans", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}

#mui-viewport {
	top: 0px;
	bottom: 0px;
	touch-action: manipulation;
}

.mui-page-title {
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding-top: 12px;
}

.mui-page {
	margin-top: 0px;
}

.mui-page-body {
}

.mui-page-body-content {
	padding: 10px;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.logo-ppal{
	background-image: url(images/transparentLogoPpal2.png);
	background-repeat: no-repeat;
}

.logo-mmal{
	background-image: url(images/transparentLogoMmal2.png);
	background-repeat: no-repeat;
}
 
.form-alert-msg {
	visibility: hidden;
	font-size: 10px;
	color: red;
}

.no-map-page {
	background: url(images/mainBackgroundFaded.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Init Page ------------------------------------------------------------------ */
#init-logo {
	height: 30%;
	width: 80%;
	margin: auto;
	margin-top: 30%;
	margin-bottom: 30%;
	background-position: center;
	background-size:100%;
	transform: scale(1.2);
}

.init-btn {
	height: 45px;
	width: 80%;
	margin: auto;
	margin-bottom: 3%;
	display: block;
	border: none;
	color: white;
	font-size: 18px;
	outline: none;
}

#vc-log-in-btn {
	background-color: tomato;
}

#vc-sign-up-btn {
	background-color: #1E90FF;
}

/* sign-up Page --------------------------------------------------------------- */
#sign-up-page .mui-scrollable {
	margin-top: 45%;
}

#sign-up-page .logo-ppal-header {
	position: absolute;
	height: 23%;
	width: 100%;
	margin-top: 48px;
}

#sign-up-page .logo-ppal-header .logo-ppal {
	height: 100%;
	width: 60%;
	margin: auto;
	background-position: center;
	background-size:100%;
}

#sign-up-page .title-div {
	position: relative;
	top: 32%;
	width: 100%;
	font-family: 'ARCENA';
	font-size: 32px;
	text-align: center;
	color: tomato;
}

#sign-up-page .form-div {
	position: relative;
	top: 32%;
	height: 100%;
	width: 80%;
	margin: 10%;
	margin-top: 4%;
	padding: 5%;
}

#passwordDiv {
	height: 25%;
	display: none;
}

.form-div label {
	font-size: 14px;
	font-weight: bold;
	/*color: #66a3ff;*/
}

.field-form {
	width: 100%;
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	background: none;
	border: none;
	border-bottom:solid tomato 1px;
}

.field-form:focus {
	outline: none;
}

.form-btn {
	height: 30px;
	width: 100%;
	/*margin-top: 5%;*/
	display: block;
	border: none;
	/*border-radius: 3px;*/
	color: white;
	background-color: tomato;
	outline: none;
}

/*.form-btn:focus {
	outline: none;
	background-color: #66a3ff;
}*/


/* Log In Page ---------------------------------------------------------------- */
#log-in-page .mui-scrollable {
	margin-top: 45%;
}

#log-in-page .logo-ppal-header {
	position: absolute;
	height: 23%;
	width: 100%;
	margin-top: 48px;
}

#log-in-page .logo-ppal-header .logo-ppal {
	height: 100%;
	width: 60%;
	margin: auto;
	background-position: center;
	background-size:100%;
}

#log-in-page .title-div {
	position: relative;
	top: 32%;
	width: 100%;
	font-family: 'ARCENA';
	font-size: 32px;
	text-align: center;
	color: tomato;
}

#log-in-page .form-div {
	position: relative;
	top: 32%;
	height: 100%;
	width: 80%;
	margin: 10%;
	margin-top: 4%;
	padding: 5%;
}

/* Profile Page --------------------------------------------------------------- */
#profile-page .logo-ppal-header {
	position: absolute;
	top: 10px;
	height: 10%;
	width: 100%;
}

#profile-page .logo-ppal-header .logo-ppal {
    height: 100%;
    width: 90%;
    margin: auto;
    background-position: right;
    background-size: 30%;
    background-repeat: no-repeat;
}

#profile-page .profile-pic-div {
	position: relative;
	top: 5%; 
	height: 25%;
	margin-bottom: 10%;
}

#profile-page .profile-pic-div .profile-pic {
    position: relative;
    height: 100%;
    width: 40%;
    margin: auto;
    border-radius: 150px;
    background-image: url(images/profileIcon.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#profile-pic-overlay {
  position: absolute;
  bottom: 0; 
  width: 100%;
  padding: 20px;
  font-size: 12px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Black see-through*/ 
  opacity:0;
  transition: .5s ease;
}

#profile-pic-overlay:before {
	font-family: 'FontAwesome';
	content: '\f030';
	font-size: 12px;
}

#profile-page .profile-pic-div .profile-pic:hover #profile-pic-overlay{
  opacity: 1;
}

#profile-page .form-div {
	position: relative;
	height: 65%;
	width: 80%;
	margin: 10%;
	margin-top: 4%;
	padding: 5%;
}

/* Home Page --------------------------------------------------------------- */
#home-page .mui-page-body {
	top: 0px !important;
}

#home-page .logo-mmal-header {
	position: absolute;
	bottom: 5%;
	right: 5%; 
	height: 10%;
	width: 20%;
}

#home-page .logo-mmal-header .logo-mmal {
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: none;
    background-position: right;
    background-size: 95%;
    background-repeat: no-repeat;
}

#destination-div {
	position: absolute;
	height: 8%;
    width: 90%;
    margin-top: -156%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    display: block;
    text-align: center;
    font-style: inherit;
    font-size: 18px;
    background-color: white;
}

#destination {
	height: 100%;
	width: 60%;
  	padding: 2%;
  	border: none;
}

#destination:focus{
	outline: none;
}

#destination:before {
	font-family: FontAwesome;
	content: '\f002';
	font-size: 10px;
	color: black;
}

#home-page-btn {
	position: absolute;
	width: 90%;
	top: 22%;
	margin-left: 5%;
	margin-right: 5%;
}

#buttons-board {
	position: absolute;
	top: 35%;
	left: 3%;
	height: 35%;
	width: 20%;
	display: inline-block;
}

.circle-button-div {
  	height: 33.3%;
  	margin-bottom: 5%;
}

.circle-button {
  height: 85%;  
  width: 85%;
  margin: 7.5%; 
  padding:5%;
  border-radius: 100%;
  border: none;
  font-size: 28px;
  text-align: center;
  background-color: tomato;
}

.circle-button:focus {
	outline: none;
	background-color: #66a3ff;
}

#home-page-profile-btn {
	background-image: url("images/profile-icon.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#home-page-history-btn {
	background-image: url("images/history-icon.png");
	background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#home-page-notifications-btn {
	background-image: url("images/notifications-icon.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Panels ------------------------------------------------------------------------- */

/* Panel de viajes ---------------------------------------------------------------- */
#ride-panel {
	position: absolute;
	top: -100%;
    left: 0px;
    height: 90%;
    width: 100%;
    padding: 5%;
    background-color: white;/* rgba(0,0,0,0.4);Black w/ opacity */
	/*visibility: hidden;*/
}

.ride-btn {
	position: relative;
    height: 10%;
    width: 40%;
    margin: 5%;
    display: inline-block;
    float: left;
    color: white;
	background-color: tomato;
	outline: none;
}

#driver-div {
	display: none;
}

#passenger-div {
	display: none;
}

/* Paneles que aparecen del lado izquierdo ---------------------------------------- */
.left-panel {
	position: absolute;
	top: 0px;
    left: -100%;
    height: 100%;
    width: 90%;
    background-color: white;
}

.left-panel .mui-panel-header {
	position: relative;
	top: 5%;
	height: 15%;
	width: 100%;
	padding: 3%;
}

.left-panel .mui-panel-header .mui-panel-title {
	font-family: 'ARCENA';
	font-size: 30px;
	text-align: center;
	color: tomato; 
}

.left-panel .mui-panel-body {
	position: relative;
}

/* Panel de perfil ---------------------------------------------------------------- */
#profile-panel .form-div {
	position: relative;
	height: 65%;
	width: 80%;
	margin: 10%;
	margin-top: 4%;
	padding: 5%;
}

#profile-panel .field-form {
	width: 80%;
}

#profile-panel .profile-pic-div {
	position: relative;
	top: 5%; 
	height: 25%;
	margin-bottom: 10%;
}

#profile-panel .profile-pic-div .profile-pic {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
    border-radius: 150px;
    background-image: url(images/profileIcon.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#profile-panel #profile-pic-overlay {
  position: absolute;
  bottom: 0; 
  width: 100%;
  padding: 20px;
  font-size: 10px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Black see-through*/ 
  opacity:0;
  transition: .5s ease;
}

#profile-panel #profile-pic-overlay:before {
	font-family: 'FontAwesome';
	content: '\f030';
	font-size: 12px;
}

#profile-panel .profile-pic-div .profile-pic:hover #profile-pic-overlay{
  opacity: 1;
}

#user-edit-profile {
	position: relative;
	margin-right:20%;
	text-align: right;
	font-size: 12px;
	color: tomato;
}

#user-edit-profile:before {
	font-family: 'FontAwesome';
	content: '\f044';
	font-size: 16px;
	color: tomato;	
}



/* GoBack button ------------------------------------------------------------------ */
.mui-backarrow {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 40px;
	height: 37px;
}

.mui-backarrow:after {
	font-family: FontAwesome;
	content: '\f104';
	font-size: 35px;
	color: tomato;
}
/* Menu button ------------------------------------------------------------------ */
.mui-headmenu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45px;
	height: 37px;
	text-align: right;
}

.mui-headmenu:after {
	font-family: FontAwesome;
	content: '\f0c9';
	font-size: 25px;
	color: #1A7EFA;
}
/* Tabbar sample ------------------------------------------------------------------ */
.mui-tabbar {
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0px;
	background-color: #FAFAF9;
}

.mui-tabbar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.mui-tabbar ul li {
	width: 20%;
	height: 48px;
	float: left;
	position: relative;
}

.mui-tabbar ul li:before {
	font-family: 'FontAwesome';
	font-size: 27px;
	display: block;
	width: 100%;
	height: 26px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 0px;
	content: ' ';
	margin-top: 5px;
}

.mui-tabbar ul li:hover:before {
	
}

.mui-tabbar ul li:nth-child(1):before {
	content: "\f087";
}

.mui-tabbar ul li:nth-child(2):before {
	content: "\f0a6";
}

.mui-tabbar ul li:nth-child(3):before {
	content: "\f25b";
}

.mui-tabbar ul li:nth-child(4):before {
	content: "\f0a5";
}

.mui-tabbar ul li:nth-child(5):before {
	content: "\f0a4";
}

.mui-tabbar ul li a {
	font-size: 12px;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 48px;
	top: 0px;
	left: 0px;
	padding-top: 33px;
}

.input-invalid+span:after {
  position: absolute; 
  top: 60px;
  right: 20px;
  content: '✖';
  color: red;
}

.input-valid+span:after {
  position: absolute;
  top: 60px;
  right: 20px;
  content: '✔';
  color: green;
}
/* Map ------------------------------------------------------------------ */
#map {
	width: 100%;
	height: 100%;
	position: relative;
}