<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns='http://www.w3.org/ns/widgets'
	xmlns:gap='http://phonegap.com/ns/1.0' id="com.viajaconmigo.app" versionCode="1"
	version="0.0.1">

	<name>ViajáConmigo</name>

	<description>Compartí tus viajes</description>

	<author href="http://www.mobileui.org"
		email="gustavo.gretter@mobileui.org">
		Gustavo Gretter
	</author>

	<!-- Customize your app and platform with the preference element. -->
	<preference name='phonegap-version' value='cli-6.5.0' />
	<preference name="android-build-tool" value="gradle" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="true" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
	<preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's 
		icon on the user's home screen -->
	<preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would 
		use the webview the app lives in -->
	<preference name="detect-data-types" value="true" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically 
		turned into links by the system -->
	<preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
	<preference name="android-minSdkVersion" value="16" /> <!-- android: MIN SDK version supported on the target device. MAX version 
		is blank by default. -->
	<preference name="android-targetSdkVersion" value="23" />
	<preference name="android-installLocation" value="auto" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is 
		device memory. 'preferExternal' is SDCard. -->
	<preference name="BackgroundColor" value="0x000" />
	<preference name="permissions" value="none" />

	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
 
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-dialogs" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-x-toast" />
	<plugin name="ionic-plugin-keyboard" />
	<plugin name="cordova-plugin-media"/>
	<plugin name="cordova-plugin-geolocation" spec="2.4.3"/>
	<plugin name="cordova-plugin-splashscreen" />
	<preference name="ShowSplashScreenSpinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen 
		during app loading -->
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<plugin name="cordova-plugin-statusbar" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
 	
	<plugin name="phonegap-plugin-push" spec="1.8.1">
		<param name="SENDER_ID" value="991349295611" />
	</plugin> 	
	
	<!-- ********************************************************************************** -->
	<!-- ********************** ICONS & SPLASH CONFIGURATION ****************************** -->
	<!-- ********************************************************************************** -->
	<icon src="icon.png" /> <!-- Icono por defecto, debe estar en la raiz -->
	<platform name="ios">

		<!-- Settings Icon -->
		<icon width="29" height="29"
			src="pgbomit/icons/ios/icon-small.png" />
		<icon width="58" height="58"
			src="pgbomit/icons/ios/icon-small@2x.png" />
		<icon width="87" height="87"
			src="pgbomit/icons/ios/icon-small@3x.png" />

		<!-- iPhone / iPod Touch ios7 -->
		<icon width="60" height="60" src="pgbomit/icons/ios/icon-60.png" />
		<icon width="120" height="120"
			src="pgbomit/icons/ios/icon-60@2x.png" />
		<icon width="180" height="180"
			src="pgbomit/icons/ios/icon-60@3x.png" />

		<!-- iPad ios7 -->
		<icon width="76" height="76" src="pgbomit/icons/ios/icon-76.png" />
		<icon width="152" height="152"
			src="pgbomit/icons/ios/icon-76@2x.png" />
		<icon width="167" height="167"
			src="pgbomit/icons/ios/icon-83.5@2x.png" />

		<!-- Spotlight Icon -->
		<icon width="40" height="40" src="pgbomit/icons/ios/icon-40.png" />
		<icon width="80" height="80"
			src="pgbomit/icons/ios/icon-40@2x.png" />

		<!-- iPhone / iPod Touch ios6 -->
		<icon width="57" height="57" src="pgbomit/icons/ios/icon-57.png" />
		<icon width="114" height="114"
			src="pgbomit/icons/ios/icon-57@2x.png" />

		<!-- iPad ios6 -->
		<icon width="72" height="72" src="pgbomit/icons/ios/icon-72.png" />
		<icon width="144" height="144"
			src="pgbomit/icons/ios/icon-72@2x.png" />

		<!-- iPad Spotlight and Settings Icon ios6 -->
		<icon width="50" height="50" src="pgbomit/icons/ios/icon-50.png" />
		<icon width="100" height="100"
			src="pgbomit/icons/ios/icon-50@2x.png" />

		<icon width="1024" height="1024"
			src="pgbomit/icons/ios/icon-1024.png" />

		<!-- splash iphone -->
		<splash src="pgbomit/splash/ios/default.png" width="320"
			height="480" />
		<splash src="pgbomit/splash/ios/default@2x.png" width="640"
			height="960" />
		<splash src="pgbomit/splash/ios/default-568h@2x.png"
			width="640" height="1136" />
		<splash src="pgbomit/splash/ios/default-667h@2x.png"
			width="750" height="1334" />
		<splash src="pgbomit/splash/ios/default-portrait-736h@3x.png"
			width="1242" height="2208" />
		<splash src="pgbomit/splash/ios/default-landscape-736h@3x.png"
			width="2208" height="1242" />

		<!-- splash ipad -->
		<splash src="pgbomit/splash/ios/default-portrait.png"
			width="768" height="1024" />
		<splash src="pgbomit/splash/ios/default-landscape.png"
			width="1024" height="768" />
		<splash src="pgbomit/splash/ios/default-portrait@2x.png"
			width="1536" height="2048" />
		<splash src="pgbomit/splash/ios/default-landscape@2x.png"
			width="2048" height="1536" />
	</platform>

	<platform name="android">
		<!-- icons -->
		<icon src="pgbomit/icons/android/ldpi.png" qualifier="ldpi" />	<!-- 36x36 -->
		<icon src="pgbomit/icons/android/mdpi.png" qualifier="mdpi" /> <!-- 48x48 -->
		<icon src="pgbomit/icons/android/hdpi.png" qualifier="hdpi" /> <!-- 72x72 -->
		<icon src="pgbomit/icons/android/xhdpi.png" qualifier="xhdpi" /> <!-- 96x96 -->

		<splash src="pgbomit/splash/android/ldpi.png" density="hdpi" /> <!-- 200x320 : 320x426 -->
		<splash src="pgbomit/splash/android/mdpi.png" density="mdpi" /> <!-- 320x480 : 320x470 -->
		<splash src="pgbomit/splash/android/hdpi.png" density="hdpi" /> <!-- 480x800 : 480x640 -->
		<splash src="pgbomit/splash/android/xhdpi.png" density="xhdpi" /> <!-- 720x1280 : 720x960 -->
	</platform>
</widget>
